.dashboard-header {
    background-color: #c3f1c6;
    padding: 10px;
    text-align: center ;
    color: black;
} 

.content-box {
    padding: 20px;
}

.tab-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #388E3C; /* Dark Green background on hover */
}