.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: green;
  color: #fff;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 5px 0 5px 0;
  padding: 5px;
}

.logo:hover {
  color: darkgreen;
  border: 2px solid white;
  padding: 5px;
  background-color: white;
}

.nav h1 {
  font-size: 1.5rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.logout-button {
  background-color: green;
  color: wheat;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.logout-button:hover {
  background-color: darkred;
}

.login-button {
  color: green;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: darkgreen;
  color: white;
  border: 1px solid white;
}
