.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: green;
  color: #fff;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav h1 {
  font-size: 1.5rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}




